*  {
	box-sizing: border-box;
}

body {
	height: 100vh;
	padding: 0;
	margin: 0;
}

.container {
	height: 100%;
	overflow: hidden;
	display: grid;
	grid-template-columns: 55% 45%;
	grid-template-areas: 
		"left right";
}

.container .left {
	grid-area: left;
	-webkit-clip-path: polygon(100% 0, 65% 50%, 100% 100%, 0 100%, 0 0);
	clip-path: polygon(100% 0, 65% 50%, 100% 100%, 0 100%, 0 0);
	background: url(aurora.jpg) no-repeat center;
	background-size: cover;
}

.container .right{
	grid-area: right;
}

.container .right h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 60px;
	font-weight: 600;
	color: #555;
	margin: 80px 0 20px 0;
	font-family: Laksaman;
}

.container .right form {
	display: flex;
	height: 50%;
	flex-direction: column;
	justify-content: center;
}

.container .right form input {
	background-color: #fff;
	padding: 10px 15px;
	margin: 8px 0;
	width: 80%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: #999B9E solid 1px;
	font-size: 18px;
	color: #000;
}

.container .right form label {
	padding: 10px 0;
	color: #999B9E;
}

.container .right form input[type="password"]{
	color: #04D5D2;
}

.container .right form input[type="checkbox"] {
	width: 30px;
	padding: 0;
}

.container .right form input[type="checkbox"]:focus {
	outline: none;
}

.container .right form span {
	color: #999B9E;
	width: 400px;
}

.container .right button{
	padding: 10px 50px;
	border-radius: 15px;
	color: #fff;
	background-color: #04D5D2;
	border: none;
	cursor: pointer;
	transition: transform 80ms ease-in;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: 10px;
}

.container .right button:active{
	transform: scale(0.95);
}

.container .right button:focus{
	outline: none;
}

.container .right a{
	margin: 0 20px;
	color: #999B9E;
	text-decoration: none;
	border-bottom: solid 2px #04D5D2;
}

@media screen and (max-width: 840px){
	body {
		height: 200vh;
	}
	.container{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: 
			"left"
			"right";
	}
	.container .right{
		justify-self: center;
		align-self: center;
	}

	.container .right form {
		padding: 100px 0 50px 0;
	}

	.container .right form input {
		margin: 0 20px;
		width: 100%;
	}

	.container .right form input[type="checkbox"] {
		width: 30px;
	}

	.container .right form label {
		margin: 0 20px;
	}

	.container .right form span {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.container .right button {
		margin-left: 20px;
		transition: transform 80ms ease-in;
	}

	.container .right button:active{
		transform: scale(0.95);
	}
}

@media screen and (max-width: 460px){

	body{
		height: 200vh;
	}

	.container{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 50% 50%;
		grid-template-areas:
			"left" 
			"right";
	}

	.container .left{
		clip-path: none;
	}

	.container .right{
		align-self: center;
	}

	.container .right form {
		padding: 100px 0 50px 0;
	}

	.container .right form input {
		margin: 0 20px;
		width: 80%;
	}

	.container .right form input[type="checkbox"] {
		width: 30px;
	}

	.container .right form label {
		margin: 0 20px;
	}

	.container .right form span {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.container .right button {
		margin-left: 20px;
		transition: transform 80ms ease-in;
	}
	
	.container .right button:active {
		transform: scale(0.95);
	}
}

